.idea
.vscode
.genie
.nyc_output
.project
.settings
/package-lock.json
/wasaby-cli_artifacts
/coverage
/node_modules
/application
/tslint.json
/build-ui
/tslib.js
/**/tsconfig.json
/wasabyGlobalTypings.d.ts
/tailwind.config.js
/yarn.lock
/.eslintrc.js
/.stylelintrc.js
.stylelintignore
/.prettierrc.js
.prettierignore
/src/Server/HTTPSCertificate/cert.crt
/src/Server/HTTPSCertificate/cert.key
